@media (max-width: 1024px) {
    
    .header .evo-main-nav .main-menu {
        margin-top: 10px;
    }

    .header .evo-main-nav .main-menu .nav-cate .menu {
        min-height: 267px;
    }

    .header .evo-main-nav .main-menu .nav-cate .menu .menu-item-count a {
        padding: 6px 10px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    

    /* MOBILE MENU NAV  */
    .toggle-menu-button .line {
        display: block;
    }

    .nav {
        display: none !important;
    }

    .main-menu {
        display: none;
    }

    .evo-account {
        display: none;
    }

    .header .evo-top-header .slogan {
        text-align: center;
    }

    .evo-header-search {
        display: none;
    }

    .hotline {
        display: none !important;
    }

    .evo-header-mobile {
        display: flex;
        align-items: center;
        flex: auto;
    }

    .logo {
        width: 100%;
    }

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        margin-top: 20px;
    }

    .header .evo-header-logo-search-cart .evo-header-hotline-cart .evo-cart {
        display: none !important;
    }

    .evo-cart.mini-cart {
        display: block !important;
        position: relative;
        color: var(--text-color-black);
    }
    
    .evo-cart.mini-cart i {
        font-size: 28px;
    }

    .evo-cart.mini-cart .count_item {
        position: absolute;
        top: -6px;
        left: 30px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 15px;
        color: var(--text-color);
        background-color: var(--yellow-color);
    }

    .section-1 .section-tab-san-pham .content .tabs {
        display: block;
        text-align: center;
        background-color: var(--white-color);
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    }

    .section-1 .section-tab-san-pham .content .tabs .tab-item {
        border-bottom: 1px solid #eee;
        font-size: 12px;
        font-weight: normal;
    }

    .section-1 .section-tab-san-pham .content .tabs .line {
        display: none;
    }

    .section-4 .section-trending .banner-item {
        margin-bottom: 5px;
    }

    .section-4 .section-trending .banner-item .banner-content span {
        padding-bottom: 0;
    }

    .section-4 .section-trending .banner-item .banner-content h4 {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .section-4 .section-trending .banner-item .banner-content .umino-btn {
        width: 80px;
        height: 25px;
        line-height: 22px;
        font-size: 11px;
    }

}

@media (max-width: 767px) {
    
    .logo img {
        max-height: 55px !important;
    }

    .header .evo-top-header .slogan p {
        font-size: 1.1rem;
    }

}